# Beta Anvil — Week 1 Foundation Sprint
## Variables • Lists • Conditionals
Project: Student Performance Analysis

**Goal:**  
By the end of this week, you should be able to:
- Store information using variables
- Work with lists
- Make decisions using conditionals
- Apply all three to a real dataset

**Rules:**
- Work only inside your personal folder
- Minimum 3 commits before Sunday
- Explain your thinking in markdown

In [19]:
import pandas as pd

# Load the student performance dataset
data = pd.read_csv("../data/StudentsPerformance.csv")

# Preview the first 5 rows
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## What Is a Variable?

A variable stores information.

Example:
score = 80

Now "score" holds the value 80.

In [6]:
score = 80
print(score)

80

### Junior Task:
1. Create a variable called `first_student_math` and store the first student's math score using the dataset.
2. Print the variable.

In [15]:
# Solution hint for juniors
first_student_math = data["math score"][0]
#data["math score"] means access the column 'math score' in the dataset 'data'
#[0] means access index 0 which is the first item 
#together it means access the first student math score using the dataset

### Core Task — Variables

1. Store the first 3 students' math scores in separate variables.
2. Calculate their total score.
3. Print the total.

**Hint:** Use indexing: `[0]`, `[1]`, `[2]` for the first three rows.

## What Is a List?

A list stores multiple values in one place.

Example:
scores = [50, 60, 70]

In [16]:
scores = [80, 90, 70]
print(scores[0])  # First item
print(scores[1:3])  # Slice: second and third items

80
[90, 70]

Hint: Use slicing

## How to Access Values in a List or Column

A list or a column in Python is like a row of boxes.

- The first item is at index 0
- The second item is at index 1
- And so on…

Example:

scores = [80, 70, 90]
scores[0]  # This gets 80
scores[1]  # This gets 70

You can also get multiple values using slicing:

scores[0:2]  # Gets the first two items: [80, 70]

### Junior Task — Lists

1. Create a list of the first 5 math scores from the dataset.
2. Print the list.

**Hint:** Use slicing: `data["math score"][:5]` and convert to a list.

### Core Task — Lists

1. Convert the full math score column into a list.
2. Loop through the list.
3. Count how many students passed (>=50).
4. Print the count.

**Hint:** Use `for score in math_scores:` and an `if` statement.

## What Is a Conditional?

A conditional allows Python to make decisions.

Example:
If score is above 50 → pass
Else → fail

In [7]:
score = 65

if score >= 50:
    print("Pass")
else:
    print("Fail")

Pass

### Junior Task — Conditional

Check if `first_student_math` is passing (>=50) and print "Pass" or "Fail".

**Hint:** Use an if/else statement.

### Core Task — Conditional + List

Use the list of first 5 math scores.
Loop through it.
Print "Pass" or "Fail" for each student.

**Hint:** Combine for-loop with if/else statements.

### Challenge:

1. Create a list of the first 10 math scores.
2. Loop through them.
3. Count how many students passed (50 and above).
4. Print the total number of passes.

### Reflection Questions:

1. What did you learn about variables?
2. How are lists useful in working with datasets?
3. Why are conditionals important in data analysis?

# Submission Instructions

1. Copy this template to your personal folder (e.g., `src/mathew/week1_foundation.ipynb`).  
2. Complete all tasks assigned to you (Junior or Core).  
3. Add answers to reflection questions.  
4. Optional: remove lesson markdown or tasks not assigned to you for a cleaner notebook.  
5. Save as `week1_foundation.ipynb`.  
6. Push to GitHub. Minimum 3 commits before Sunday 11:59 PM.
7. Challenge 1-4 are extra tasks just for practice